
# Clock 25 MHz
NET "clk" CLOCK_DEDICATED_ROUTE = FALSE;
NET "clk"  LOC = "P127" ;

#RESET
NET "rst" LOC = "P44" ;
#

#Main LED's
#
NET "out[7]" LOC = "P70" ;
#
NET "out[6]" LOC = "P77" ;
#
NET "out[5]" LOC = "P69" ;
#
NET "out[4]" LOC = "P76" ;
#
NET "out[3]" LOC = "P74" ;
#
NET "out[2]" LOC = "P79" ;
#
NET "out[1]" LOC = "P73" ;
#
NET "out[0]" LOC = "P78" ;
#

#NET "out<0>" LOC = P78;
#NET "out<1>" LOC = P73;
#NET "out<2>" LOC = P79;
#NET "out<3>" LOC = P74;
#NET "out<4>" LOC = P76;
#NET "out<5>" LOC = P69;
#NET "out<6>" LOC = P77;
#NET "out<7>" LOC = P70;
#
#NET "PC<0>" LOC = P90;
#NET "PC<1>" LOC = P93;
#NET "PC<2>" LOC = P89;
#NET "PC<3>" LOC = P65;
#NET "PC<4>" LOC = P63;
#NET "PC<5>" LOC = P86;
#NET "PC<6>" LOC = P87;
#NET "PC<7>" LOC = P83;
